html
    head
        title= title
        link(rel='stylesheet', type='text/css', href='main.css')
    body
        h1= message
        h2 Users:

        form(method='POST', action='/search')
            input(id='searchInput' name="searchInput" placeholder="enter a user's name...")
            button(type='submit') Search for user
        
        div
            button
                a(href='/reload') Reset
        button(href='/add')
            a(href='/add') Add a user
        button
            a(href='/sort-ascend') Sort Ascending
        button
            a(href='/sort-descend') Sort Descending

        table
            tr
                th Name
                th Email
                th Age
                th 
                th 
            each val in users
                tr
                    td= val.userName
                    td= val.email
                    td= val.age
                    td(class='modify-cell') 
                        a(href='/user-edit/'+ val.id) edit

                    td(class='modify-cell')
                        a(href='/user-delete/' + val.id) delete

